.mainContent{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.topContent{
  display: flex;
  margin: 3%;

  .text{
    border: 2px solid blue;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button{
    .custom-button();
  }

  img{
    width: 50%;
    height: auto;
    margin: auto;
    border: 2px solid blue;
    justify-self: center;
    align-self: center;
  }
}

.howItWorks{
  display: flex;
  flex-direction: row-reverse;
  margin: 3%;

  .text{
    border: 2px solid blue;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button{
    .custom-button();
  }

  img{
    width: 50%;
    height: auto;
    margin: auto;
    border: 2px solid blue;
    justify-self: center;
    align-self: center;
  } 
}

.whyUseUs{
  display: flex;
  margin: 3%;

  .text{
    border: 2px solid blue;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button{
    .custom-button();
  }

  img{
    width: 50%;
    height: auto;
    margin: auto;
    border: 2px solid blue;
    justify-self: center;
    align-self: center;
  } 
}