.mainContent{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;

  button{
    .custom-button();
    justify-self: flex-end;
    align-self: center;
    margin: 2%;

      @media @phone{
      width: 100%;
      }
  }
}

.topContent{
  display: flex;
  margin: 3%;

  @media @phone{
    flex-direction: column;
  }

  .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    .center();

    @media @phone{
      width: 100%;
    }
  }

  img{
    width: 30%;
    height: auto;
    margin: auto;
    justify-self: center;
    align-self: center;

    @media @phone{
      width: 100%;
    }
  }
}

.howItWorks{
  display: flex;
  flex-direction: row-reverse;
  margin: 3%;

  @media @phone{
    flex-direction: column;
  }

  .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    .center();

    @media @phone{
      width: 100%;
    }
  }

  img{
    width: 30%;
    height: auto;
    margin: auto;
    justify-self: center;
    align-self: center;

    @media @phone{
      width: 100%;
    }
  } 
}

.whyUseUs{
  display: flex;
  margin: 3%;

  @media @phone{
    flex-direction: column;
  }

  .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    .center();

    @media @phone{
      width: 100%;
    }
  }

  img{
    width: 30%;
    height: auto;
    margin: auto;
    justify-self: center;
    align-self: center;

    @media @phone{
      width: 100%;
    }
  }
}
// .mainContent button{
//   .custom-button();

//   @media @phone{
//   width: 100%;
//   }
// }