// Footer Styles
footer {
  width: 100%;
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  


  nav {
    width: 80%;
    display: flex;
    justify-content: space-evenly
    
  }

  a{
    text-decoration: none;
    color: @river-bend;
    padding: 2% 0%;

    &:hover {
      color: #072375;
      font-weight: bold;
  }
}
}

