.cta {
  width: 90%;
  margin: auto;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1{
    font-size: 7rem;
    margin-bottom: 3%;
  }

  h2{
    font-size: 4rem;
    margin-bottom: 5%;
  }

  button{
    .custom-button();
  }
  
}

.testimonial{
  width: 90%;
  margin: auto;
  padding: 2%;
  display: flex;
  flex-direction: column;

  h2{
    font-size: 4rem;
    margin-bottom: 3%;
  }

  .testBoxes{
    display: flex;
    justify-content: space-between;
    width: 100%;

    div{
      border: 2px solid green;
      width: 30%;
      padding: 3%;
    }

  }
  
 

}