.custom-button(@bg-color: #22283A, @width:30%, @font:#FFFFFF){
  .center();
  background-color: @bg-color;
  margin: 0px;
  width: @width;
  height: 12%;
  font-size: 1.8rem;
  border-radius: 5px;
  color:@font;
  margin-bottom: 7%;
  cursor: pointer;

   &:hover{
    background-color:@font;
    color:@bg-color; 
  }
}

.signUp-button(@bg-color: #22283A, @width:30%, @font:#FFFFFF){
  .center();
  background-color: @bg-color;
  width: @width;
  font-size: 2.5rem;
  border-radius: 5px;
  color:@font;
  padding: 5%;
  margin-right: 5%;
  cursor: pointer;

   &:hover{
    background-color:@font;
    color:@bg-color; 
  }
}

.center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerFont(){
  font-family: 'Russo One', sans-serif;
  color: @header-font-color;
}