@primary-color: #8e2e6a;
@secondary-color: #311054;
@highlight-color: #a8cf58;
@accent-color: #ee7777;


// Mobile var
@phone: ~'(max-width: 500px)';
@phablet: ~'(max-width: 680px)';
@tablet: ~'(max-width: 800px)';